@use './variables' as *;

.footer-top{
    width: 100%;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        .footer-top-left{
            padding: 2rem 0;
            gap: 2rem;
            nav{
                h3{
                    color: white;
                    margin: 1rem 0;
                }
                ul{
                    li{
                        color: lighten($main-dark, 30%);
                        margin-bottom: .3rem;
                        a{
                            border-bottom: 1px solid transparent;
                            &:hover{
                                border-bottom: 1px solid lighten($main-dark, 30%);
                            }
                        }
                    }
                }
            }
        }
        .footer-top-right{
            width: 70%;
            background-image: url(../img/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position: center right;
        }
    }
}
.footer-bottom{
    background-color: lighten($main-dark, 5%);
    padding: .8rem 0;
    .container{
        .footer-bottom-left{
            .ms_btn{
                padding: .6rem;
                background-color: transparent;
                color: white;
                border: 1px solid $main-blue;
                cursor:pointer;
                transition: all 125ms linear;
            }
            &:hover{
                background-color: lighten($main-dark, 10%);
            }
        }
    }
    .footer-bottom-right{
        h3{
            font-size: .9rem;
            color: $main-blue;
            margin-right: .7rem;
            margin-bottom: 0;
        }
        img{
            width: 70%;
        }
    }
}
