@use './variables' as *;

header{
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 1px 45px -30px #000000;

    .header-nav{
        font-weight: 700;
        text-transform: uppercase;
        justify-self: center;
        
        ul{
            flex-grow: 1;
            .dropdown{
                position: relative;
                
                .hidden-menu{
                    position: absolute;
                    left: 0;
                    top: 35%;
                    width: 300px;
                    background-color: white;
                }

                &:hover .hidden-menu{
                    display: block !important;
                }
            }
        }

    }
    form{
        width: 10%;
        .search-bar{
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid $main-blue;
            
            &::placeholder{
                font-weight: 500;
                color: black;
                text-align: right;
            }

            &:focus{
                outline: none;
            }
        }
    }
}